
@{
    ViewBag.Title = "Done";
    
}

<div class="container-fluid" style="text-align: center;">
    <br />
    <h2>Đã đặt hàng thành công </h2>
    <br />
    <img src="https://img.freepik.com/free-vector/online-order-delivery-service-shipment-internet-shop-basket-cardboard-boxes-buyer-with-laptop-delivery-note-monitor-screen-parcel-vector-isolated-concept-metaphor-illustration_335657-2838.jpg?t=st=1655772023~exp=1655772623~hmac=6a288806648468418fa557de2170e0c9bf780b907e91b2539e14e1867b727214&w=740" style=" width: 30%; " />
    <br />
    <br />
    <h5 style="text-align: center">
        Tiếp tục mua sắm nào. <a href="/" style="color: limegreen">MUA THÊM </a>

    </h5>
    <br />
</div>


