@{
    ViewBag.Title = "Selina Home";
    
}

<div class="container-fluid">
    <!--banner-->
    <div class="row">
        <img src="~/Img/banner.png" style="width:100%; padding: 0px;"
    </div>
  
    <!--danh muc san pham-->
    <div class="row" style="padding: 30px 0 30px 0 !important;  text-align: center; color: var(--bg5-color); ">
        <div class="col-sm-3">
            <a href="/Home/KhuyenTai">
                <img src="~/Img/khuyenTai.png" style="width: 350px; height: 350px; align-content: center; " />
                <h5 style="font-weight:500; color:var(--bg5-color);">Khuyên tai </h5>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/Home/VongTay">
                <img src="~/Img/vongTay.png" style="width: 350px; height: 350px; align-content: center; " />
                <h5 style="font-weight:500; color:var(--bg5-color);">Vòng tay </h5>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/Home/Nhan">
                <img class="card-img-top" src="~/Img/nhan.png" style="width: 350px; height: 350px; align-content: center;" />
                <h5 style="font-weight:500; color:var(--bg5-color);">Nhẫn </h5>
            </a>
        </div>
        <div class="col-sm-3">
            <a href="/Home/DayChuyen">
                <img src="~/Img/dayChuyen.png" style="width: 350px; height: 350px; align-content: center; " />
                <h5 style="font-weight:500; color:var(--bg5-color);">Dây chuyền </h5>
            </a>
        </div>
    </div>

    <!-- san pham moi -->
    <div class="row container justify-content-center" style="width:80%; margin: 0 auto 30px auto !important;  ">
        @Html.Partial("~/Views/Shared/_spMoiPartial.cshtml")
    </div>
    <br />

    <!-- san pham hot -->
    <div class="row container justify-content-center" style="width:80%; margin: 0 auto 30px auto !important;">
        @Html.Partial("~/Views/Shared/_spHotPartial.cshtml")
    </div>
    <br />

    <!-- san pham ban chay -->
    <div class="row container justify-content-center" style="width:80%; margin: 0 auto 30px auto !important;">
        @Html.Partial("~/Views/Shared/_spBanChayPartial.cshtml")
    </div>
    <br />


</div>  